In [1]:
import sys
sys.path.append('../../preprocess_assets/')

In [2]:
# Main libraries
# from Configs import *
from ara_vec_preprocess_configs import *
from data_shuffling_split import *

In [3]:
covid_dataset = read_file("tweet_over_10000_classified_14_12_2020.csv")
covid_dataset.head()

   class                                         tweet_text
0      1  طب مسلمين الصين اللي بيموتو الفيرس ذنب برده  ا...
1      1  علي ما اذكر معظم الفيروسات  ما عدا الايبولا  ك...
2      1  اميركا السبب لضرب الاقتصاد الصيني وتركيع الصين...
3      1  قلنا نقاطع الصين    الناس قالت مش ممكن الان مق...
4      1  نصحيتين اقدمها لك  1  لا تتروش في البرد  2  اح...

In [4]:
covid_dataset.columns = ["label", "text"]
covid_dataset.head()

   label                                               text
0      1  طب مسلمين الصين اللي بيموتو الفيرس ذنب برده  ا...
1      1  علي ما اذكر معظم الفيروسات  ما عدا الايبولا  ك...
2      1  اميركا السبب لضرب الاقتصاد الصيني وتركيع الصين...
3      1  قلنا نقاطع الصين    الناس قالت مش ممكن الان مق...
4      1  نصحيتين اقدمها لك  1  لا تتروش في البرد  2  اح...

In [5]:
covid_dataset = covid_dataset.iloc[:9000]

In [6]:
covid_dataset['text']  = clean_list_of_text(list(covid_dataset['text']))
# covid_dataset['label'] = convert_class_to_label(list(covid_dataset['dialect']))
covid_dataset.head()

   label                                               text
0      1  طب مسلمين الصين اللي بيموتو الفيرس ذنب برده ال...
1      1  علي ما اذكر معظم الفيروسات ما عدا الايبولا كله...
2      1  اميركا السبب لضرب الاقتصاد الصيني وتركيع الصين...
3      1  قلنا نقاطع الصين الناس قالت مش ممكن الان مقاطع...
4      1  نصحيتين اقدمها لك 1 لا تتروش في البرد 2 احذر ا...

# Shuffle and Split

Instead of random shuffle using ordinal **train_test_split**, we use **StratifiedShuffleSplit**, that ensure we have proportions almost identical to the orginal. It help us to make approximate distrbution for samples per class.

To do that we pass the most representative attribute of our data, and as we have the dialect column which has 18 different classes, so it will be more representative to distribute sampels per class based on that attribute.

**Look at the table below to see how difference between the two method of split**

In [7]:
preprocessed_covid_dataset = covid_dataset.copy()
train_set, test_set             = general_split_and_shuffle(preprocessed_covid_dataset,  .02)
strat_train_set, strat_test_set = Stratified_split_and_shuffle(preprocessed_covid_dataset, "label", .02)

The number of instances in the training data after train_test_split are:  8820
The number of instances in the testing data after train_test_split are:   180
The number of instances in the training data after StratifiedShuffleSplit are:  8820
The number of instances in the testing data after StratifiedShuffleSplit are:   180

In [8]:
compare_proportions = compare_random_and_stratified_split(preprocessed_covid_dataset, test_set, strat_test_set, "label")
compare_proportions

,Overall,stratified_test,random_test,stratified_test. %error,random_test. %error
1,0.552444,0.55,0.555556,-0.442478,0.563154
0,0.447556,0.45,0.444444,0.546177,-0.695134

In [9]:
strat_train_set_path_to_save = "strat_train_set.csv"

save_train_test_data(strat_train_set, "train/", strat_train_set_path_to_save)

True

In [10]:
strat_test_set_path_to_save  = "strat_test_set.csv"

save_train_test_data(strat_test_set, "test/", strat_test_set_path_to_save)

True

In [11]:
strat_train_set = read_file("train/strat_train_set.csv")
strat_train_set.head()

   label                                               text
0      1  مع انتشار الامراض ومنها الكورونا اليكم النصيحه...
1      0   1 دراسه بحثيه صادره معهد الدراسات الاستراتيجي...
2      1  بدات في مدينه وهان في الصين انتقلت لبعض المقاط...
3      1           coronarvirus CoronaOutbreak فيروس_كورونا
4      1  الاداره_العامه_للطيران_المدني اجراءات وقاءيه ح...

In [12]:
strat_test_set = read_file("test/strat_test_set.csv")
strat_test_set.head()

   label                                               text
0      1                 حساء خفافيش الصين ابداع القرف يعني
1      1  اجراءات هكذا استعدت مصر لمواجهه فيروس كورونا م...
2      1            ايش الفايده لابس كمامات ومو لابس قفازات
3      0  الجدير بالذكر ان في الصين بيستخدموا ال في كل ح...
4      0       ولو ترسل صواريخ الصين وقفنا دون برج الفيصليه