In [1]:
import sys
sys.path.append('../../preprocess_assets/')

In [2]:
# Main libraries
# from Configs import *
from ara_vec_preprocess_configs import *
from data_shuffling_split import *

In [3]:
dialect_dataset = read_file("dialect_dataset_with_text.csv")
dialect_dataset.head()

,id,dialect,text
0,1175358310087892992,IQ,@Nw8ieJUwaCAAreT لكن بالنهاية .. ينتفض .. يغير .
1,1175416117793349632,IQ,@7zNqXP0yrODdRjK يعني هذا محسوب على البشر .. ح...
2,1175450108898565888,IQ,@KanaanRema مبين من كلامه خليجي
3,1175471073770573824,IQ,@HAIDER76128900 يسلملي مرورك وروحك الحلوه💐
4,1175496913145217024,IQ,@hmo2406 وين هل الغيبه اخ محمد 🌸🌺

In [4]:
dialect_dataset['text']  = clean_list_of_text(list(dialect_dataset['text']))
dialect_dataset['label'] = convert_class_to_label(list(dialect_dataset['dialect']))
dialect_dataset.head()

,id,dialect,text,label
0,1175358310087892992,IQ,حسابشخصي لكن بالنهايه . . ينتفض . . يغير .,4
1,1175416117793349632,IQ,حسابشخصي يعني هذا محسوب علي البشر . . حيونه وح...,4
2,1175450108898565888,IQ,حسابشخصي مبين من كلامه خليجي,4
3,1175471073770573824,IQ,حسابشخصي يسلملي مرورك وروحك الحلوه 💐,4
4,1175496913145217024,IQ,حسابشخصي وين هل الغيبه اخ محمد 🌺,4

# Shuffle and Split

Instead of random shuffle using ordinal **train_test_split**, we use **StratifiedShuffleSplit**, that ensure we have proportions almost identical to the orginal. It help us to make approximate distrbution for samples per class.

To do that we pass the most representative attribute of our data, and as we have the dialect column which has 18 different classes, so it will be more representative to distribute sampels per class based on that attribute.

**Look at the table below to see how difference between the two method of split**

In [5]:
preprocessed_dialect_dataset = dialect_dataset.copy()
train_set, test_set             = general_split_and_shuffle(preprocessed_dialect_dataset,  .02)
strat_train_set, strat_test_set = Stratified_split_and_shuffle(preprocessed_dialect_dataset, "dialect", .02)

The number of instances in the training data after train_test_split are:  449033
The number of instances in the testing data after train_test_split are:   9164
The number of instances in the training data after StratifiedShuffleSplit are:  449033
The number of instances in the testing data after StratifiedShuffleSplit are:   9164

In [6]:
compare_proportions = compare_random_and_stratified_split(preprocessed_dialect_dataset, test_set, strat_test_set)
compare_proportions

,Overall,stratified_test,random_test,stratified_test. %error,random_test. %error
AE,0.057390,0.057399,0.055543,0.014557,-3.217853
BH,0.057381,0.057399,0.055543,0.029773,-3.203129
DZ,0.035319,0.035356,0.034155,0.104393,-3.294213
EG,0.125789,0.125818,0.124291,0.023635,-1.190875
IQ,0.033822,0.033828,0.034046,0.018704,0.663986
JO,0.060937,0.060890,0.062964,-0.075866,3.326568
KW,0.091902,0.091881,0.090135,-0.022028,-1.921847
LB,0.060273,0.060236,0.061982,-0.062211,2.834537
LY,0.079658,0.079660,0.083697,0.002085,5.070684
MA,0.025183,0.025207,0.027390,0.094674,8.760879
OM,0.041720,0.041685,0.039939,-0.084354,-4.269302
PL,0.095465,0.095482,0.097447,0.017634,2.075140
QA,0.067807,0.067765,0.069511,-0.061809,2.513089
SA,0.058560,0.058599,0.054234,0.066429,-7.387309
SD,0.031502,0.031536,0.033392,0.110194,5.999029
SY,0.035448,0.035465,0.035028,0.048600,-1.182767
TN,0.020179,0.020188,0.021170,0.042607,4.909545
YE,0.021665,0.021606,0.019533,-0.272638,-9.842436

In [7]:
strat_train_set_path_to_save = "strat_train_set.csv"

save_train_test_data(strat_train_set, "train/", strat_train_set_path_to_save)

True

In [8]:
strat_test_set_path_to_save  = "strat_test_set.csv"

save_train_test_data(strat_test_set, "test/", strat_test_set_path_to_save)

True

In [9]:
strat_train_set = read_file("train/strat_train_set.csv")
strat_train_set.head()

,id,dialect,text,label
0,939759633866088448,AE,قال لها اعطيك نص راتبي وتبطلين الشك والتحقيق !...,0
1,1052304577591209984,PL,مقتنع جدا بفكره انو الناس اذواق . لكن لما بسمع...,11
2,1001494383135477760,IQ,حسابشخصي حسابشخصي حسابشخصي هاا يمعود تجي وحدك ...,4
3,693409524665942016,KW,الرومنسيه بس بلوزن الثقيل . هه رابطويب,6
4,1078727287292526592,LB,حسابشخصي حسابشخصي بخصوص جوليا الها حق تحكي سيا...,7

In [10]:
strat_test_set = read_file("test/strat_test_set.csv")
strat_test_set.head()

,id,dialect,text,label
0,1118224382344744960,OM,حسابشخصي خلاص حقق الاتنشن والمشاهدات وسوله هاش...,10
1,994153007607578624,JO,حسابشخصي حسابشخصي مشان البس حالي القصه و اطلع ...,5
2,950357638897917952,QA,حسابشخصي حسابشخصي حسابشخصي لين صرت رجال ناقشتك...,12
3,1156170588962115584,EG,حسابشخصي و برضه التلاجه الايديال الملعونه بتاع...,3
4,1077663197677670400,DZ,حسابشخصي انتي من وين كوين,2