In [1]:
import sys
sys.path.append('../../preprocess_assets/')

In [2]:
# Main libraries
from sklearn.preprocessing import LabelEncoder

from ara_vec_preprocess_configs import *
from data_shuffling_split import *

In [3]:
ASTD_dataset = read_file("ASTD_data.csv")
ASTD_dataset.head()

                                                text  label classes
0  بعد استقالة رئيس #المحكمة_الدستورية ننتظر استق...      2     OBJ
1  أهنئ الدكتور أحمد جمال الدين، القيادي بحزب مصر...      3     POS
2  البرادعي يستقوى بامريكا مرةاخرى و يرسل عصام ال...      0     NEG
3  #الحرية_والعدالة | شاهد الآن: #ليلة_الاتحادية ...      2     OBJ
4  الوالدة لو اقولها بخاطري حشيشة تضحك بس من اقول...      1     NEU

In [4]:
ASTD_dataset['text']  = clean_list_of_text(list(ASTD_dataset['text']))
# covid_dataset['label'] = convert_class_to_label(list(covid_dataset['dialect']))
ASTD_dataset.head()

                                                text  label classes
0  بعد استقاله رئيس #المحكمه_الدستوريه ننتظر استق...      2     OBJ
1  اهنئ الدكتور احمد جمال الدين، القيادي بحزب مصر...      3     POS
2  البرادعي يستقوي بامريكا مرهاخري و يرسل عصام ال...      0     NEG
3  #الحريه_والعداله | شاهد الان : #ليله_الاتحاديه...      2     OBJ
4  الوالده لو اقولها بخاطري حشيشه تضحك بس من اقول...      1     NEU

# Shuffle and Split

Instead of random shuffle using ordinal **train_test_split**, we use **StratifiedShuffleSplit**, that ensure we have proportions almost identical to the orginal. It help us to make approximate distrbution for samples per class.

To do that we pass the most representative attribute of our data, and as we have the dialect column which has 18 different classes, so it will be more representative to distribute sampels per class based on that attribute.

**Look at the table below to see how difference between the two method of split**

In [5]:
preprocessed_ASTD_dataset = ASTD_dataset.copy()
train_set, test_set             = general_split_and_shuffle(preprocessed_ASTD_dataset,  .02)
strat_train_set, strat_test_set = Stratified_split_and_shuffle(preprocessed_ASTD_dataset, "label", .02)

The number of instances in the training data after train_test_split are:  9805
The number of instances in the testing data after train_test_split are:   201
The number of instances in the training data after StratifiedShuffleSplit are:  9805
The number of instances in the testing data after StratifiedShuffleSplit are:   201

In [6]:
compare_proportions = compare_random_and_stratified_split(preprocessed_ASTD_dataset, test_set, strat_test_set, "label")
compare_proportions

,Overall,stratified_test,random_test,stratified_test. %error,random_test. %error
2,0.668699,0.666667,0.656716,-0.303891,-1.791892
0,0.168299,0.169154,0.179104,0.508148,6.420392
1,0.083150,0.084577,0.104478,1.716179,25.649397
3,0.079852,0.079602,0.059701,-0.313202,-25.234902

In [7]:
strat_train_set_path_to_save = "strat_train_set.csv"

save_train_test_data(strat_train_set, "train/", strat_train_set_path_to_save)

True

In [8]:
strat_test_set_path_to_save  = "strat_test_set.csv"

save_train_test_data(strat_test_set, "test/", strat_test_set_path_to_save)

True

In [9]:
strat_train_set = read_file("train/strat_train_set.csv")
strat_train_set.head()

                                                text  label classes
0  راجعت الردود فوجدت المتزمتين دينيا هم الاكثر ا...      0     NEG
1       #شاهد_سكاي : #عيد_العمال تراجع اعدد العاطلين      2     OBJ
2  يقوم د / ابو الفتوح التواصل مع مختلف التيارات ...      2     OBJ
3     هل الشرطه والجيش سيطبق عليهم حدود الاجور دي ؟       2     OBJ
4   1 -انسحاب الوفد المصري المشارك في مهرجان مالم...      2     OBJ

In [10]:
strat_test_set = read_file("test/strat_test_set.csv")
strat_test_set.head()

                                                text  label classes
0  نرجوا عدم متابعه وحظر حسابات : المباحث تابعني ...      2     OBJ
1  المسلماني اغلي متحدث اعلامي للرئيس واشهر كذاب ...      0     NEG
2  الاحد 3 يوليو : ابو الفتوح في ندوه بالمؤتمر ال...      2     OBJ
3    #كبسوله_صحيه #صحه #طفل #طفلي #نوم ##نوبه #نصيحه      2     OBJ
4  #اللي_رافضين_السيسي_رئيس_بيعملوا_فولوا_لبعض #م...      1     NEU